<section class="inner-banner">
  <img class="img-fluid" src="{{ settings.about_banner | img_url: 'master' }}" alt="">
  <div class="inner-banner-cont">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{ page_title }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="thelastminutegifts-wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 mb-4 mb-md-0" data-aos="fade-left">
        <div class="thelastminutegifts-left-img">
          <img class="img-fluid" src="{{ settings.about_left_img | img_url: 'master' }}" alt="">
        </div>
      </div>
      <div class="col-12 col-md-7" data-aos="fade-right">
        <div class="thelastminutegifts-right-content">
          {{ settings.right_text }}
          <a class="btn btn-gradient" href="/collections">Shop Now <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gifts-for-children-wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-7 mb-4" data-aos="fade-left">
        <div class="gifts-for-children-content">
          {{ settings.left_text }}
          <a class="btn btn-info-light" href="/collections">Shop Now <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-12 col-md-5" data-aos="fade-right">
        <div class="gifts-children-right-img">
          <img class="img-fluid" src="{{ settings.about_right_img | img_url: 'master' }}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="how-it-work-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4 aos-init aos-animate" data-aos="fade-down">
        <div class="comon-title">
          <h3>How It Works</h3>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4 aos-init aos-animate" data-aos="zoom-in">
        <div class="how-it-work-wrap">
          <div class="icon">
            <i class="fa-solid fa-cart-plus"></i>
          </div>
          <h4>Quick order</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever. since the 1500s, when an unknown printer took a galley of type."
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4 aos-init aos-animate" data-aos="zoom-in">
        <div class="how-it-work-wrap">
          <div class="icon">
            <i class="fa-solid fa-truck"></i>
          </div>
          <h4>Free delivery</h4>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour. or randomised words which don't look even slightly believable."
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4 aos-init aos-animate" data-aos="zoom-in">
        <div class="how-it-work-wrap">
          <div class="icon">
            <i class="fa-solid fa-truck-arrow-right"></i>
          </div>
          <h4>50 day return</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever. since the 1500s, when an unknown printer took a galley of type."
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
