<section class="banner-wrapper">
  <div class="banner-img">
    {% comment %} <img class="img-fluid" src="images/banner-img.jpg" alt=""> {% endcomment %}
    <img class="img-fluid" src="{{ settings.banner_image | img_url: 'master' }}" alt="">
  </div>
  <div class="banner-content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6" data-aos="fade-right">
          <div class="banner-content">
            {{ settings.banner_heading }}
            <a class="btn btn-gradient" href=" {{ settings.button_link }}"
              >Shop Now <i class="fa-solid fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="last-minute-gifts-category-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <div class="gifts-category-slider" id="gifts-category-slider">
          {% for collection in collections %}
            {% comment %}
              <li>
                <a href="{{ collection.url }}">
                  {{ collection.title }}
                </a>
              </li>
            {% endcomment %}
            <div class="category-sld-items">
              <div class="gifts-category-wrap">
                <a href="{{ collection.url }}">
                  <div class="gifts-category-img">
                    {% comment %} <img src="images/gifts-category-img1.jpg" alt=""> {% endcomment %}
                    <img
                      class="img-fluid"
                      src="{{ collection.featured_image | img_url: 'master' }}"
                      alt="{{ collection.title }}"
                    >
                  </div>
                  <h4>{{ collection.title }}</h4>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-md-6 mb-4" data-aos="zoom-in">
        <div class="gifts-add-list">
          <div class="img">
            {% comment %} <img class="img-fluid" src="images/gifts-add-img1.jpg" alt=""> {% endcomment %}
            <img class="img-fluid" src="{{ settings.custom_collection1_img | img_url: 'master' }}" alt="">
          </div>
          <div class="gifts-add-content">
            <h3>
              {{ settings.custom_collection1.title }}
            </h3>
            <a class="btn btn-gradient" href="{{ settings.custom_collection1.url }}"
              >Shop Now <i class="fa-solid fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-4" data-aos="zoom-in">
        <div class="gifts-add-list">
          <div class="img">
            {% comment %} <img class="img-fluid" src="images/gifts-add-img2.jpg" alt=""> {% endcomment %}
            <img class="img-fluid" src="{{ settings.custom_collection2_img | img_url: 'master' }}" alt="">
          </div>
          <div class="gifts-add-content">
            <h3>
              {{ settings.custom_collection2.title }}
            </h3>
            <a class="btn btn-info" href="{{ settings.custom_collection2.url }}"
              >Shop Now <i class="fa-solid fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="best-seller-wrapper">
  <div class="container">
    <div class="row">
      {% assign best_seller = 'best-seller' %}
      {% for collection in collections %}
        {% if collection.handle == best_seller %}
          <div class="col-12 mb-4 text-center" data-aos="fade-down">
            <div class="comon-title">
              <h3>{{ collection.title }}</h3>
            </div>
          </div>

          {% for product in collection.products %}
            <div class="col-12 col-md-6 col-lg-3 mb-4">
              <div class="product-wrap">
                <div class="prd-img">
                  <div class="offer-tag">-20% Off</div>
                  <a href="{{ product.url }}">
                    {% comment %} <img class="img-fluid" src="images/product-img1.jpg" alt=""> {% endcomment %}
                    <img class="img-fluid" src="{{ product.featured_image | img_url: 'master' }}" alt="">
                  </a>
                  <div class="product-cart-wishlist">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" id="add_icon">
                          <i class="fa-solid fa-cart-arrow-down"></i>
                        </a>
                        <form action="/cart/add" method="post" enctype="multipart/form-data">
                          <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                          <input type="submit" id="add_button" value="Add to Cart" style="display:none;">
                        </form>
                      </li>
                      <li>
                        <a href="{{ product.url }}">
                          <i class="fa-regular fa-eye"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <a href="{{ product.url }}">
                    <h3>{{ product.title }}</h3>
                  </a>
                  <div class="qty">( {{ product.variants.first.inventory_quantity }}pcs )</div>
                  <div class="price">
                    {{ product.price | money }}
                    {% if product.compare_at_price != '' %}
                      <del>{{ product.compare_at_price | money }}</del>
                    {% endif %}
                  </div>
                  <div class="rating-wrap">
                    {% comment %} <img class="img-fluid" src="images/rating-img.png" alt=""> {% endcomment %}
                    <img class="img-fluid" src="{{ 'rating-img.png' | asset_url }}" alt="">
                    <span>( 5.2 K Reviews )</span>
                  </div>

                  <form action="/cart/add" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                    <div class="shop-btn-wrap">
                      <input class="btn shop-btn" type="submit" value="Buy Now!">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}

      <div class="col-12 text-center mt-4">
        <a class="btn btn-gradient" href="/collections">Shop Now <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>
<section class="gifts-for-children-wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-7 mb-4" data-aos="fade-left">
        <div class="gifts-for-children-content">
          {{ settings.banner_heading1 }}
          <a class="btn btn-info-light" href="{{ settings.button_link1 }}"
            >Shop Now <i class="fa-solid fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-12 col-md-5" data-aos="fade-right">
        <div class="gifts-children-right-img">
          {% comment %} <img class="img-fluid" src="images/gifts-children-right-img1.png" alt=""> {% endcomment %}
          <img class="img-fluid" src="{{ settings.banner_image1 | img_url: 'master' }}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="featured-product-wrapper">
  {% assign featured_prod = 'featured-collection-1' %}
  {% for collection in collections %}
    {% if collection.handle == featured_prod %}
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 mb-4" data-aos="fade-down">
            <div class="comon-title">
              <h3>{{ collection.title }}</h3>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 text-end">
            <div class="btn-wrap">
              <button class="featured-prev-btn slick-arrow"><i class="fa-solid fa-chevron-left"></i></button>
              <button class="featured-next-btn slick-arrow"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 pe-0">
            <div class="featured-product-slider" id="featured-product-slider">
              {% for product in collection.products %}
                <div class="featured-sld-items">
                  <div class="product-wrap">
                    <div class="prd-img">
                      <div class="offer-tag">-20% Off</div>
                      <a href="{{ product.url }}">
                        {% comment %} <img class="img-fluid" src="images/product-img1.jpg" alt=""> {% endcomment %}
                        <img class="img-fluid" src="{{ product.featured_image | img_url: 'master' }}" alt="">
                      </a>
                      <div class="product-cart-wishlist">
                        <ul>
                          <li>
                            <a href="#">
                              <i class="fa-regular fa-heart"></i>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" id="add_icon1">
                              <i class="fa-solid fa-cart-arrow-down"></i>
                            </a>
                            <form action="/cart/add" method="post" enctype="multipart/form-data">
                              <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                              <input type="submit" id="add_button1" value="Add to Cart" style="display:none;">
                            </form>
                          </li>
                          <li>
                            <a href="{{ product.url }}">
                              <i class="fa-regular fa-eye"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="product-content">
                      <a href="{{ product.url }}">
                        <h3>{{ product.title }}</h3>
                      </a>
                      <div class="qty">( {{ product.variants.first.inventory_quantity }}pcs )</div>
                      <div class="price">
                        {{ product.price | money }}
                        {% if product.compare_at_price != '' %}
                          <del>{{ product.compare_at_price | money }}</del>
                        {% endif %}
                      </div>
                      <div class="rating-wrap">
                        {% comment %} <img class="img-fluid" src="images/rating-img.png" alt=""> {% endcomment %}
                        <img class="img-fluid" src="{{ 'rating-img.png' | asset_url }}" alt="">
                        <span>( 5.2 K Reviews )</span>
                      </div>
                      <form action="/cart/add" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                        <div class="shop-btn-wrap">
                          <input class="btn shop-btn" type="submit" value="Buy Now!">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>
<section class="thelastminutegifts-wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 mb-4 mb-md-0" data-aos="fade-left">
        <div class="thelastminutegifts-left-img">
          {% comment %} <img class="img-fluid" src="images/thelastminutegifts-left-img.png" alt=""> {% endcomment %}
          <img class="img-fluid" src="{{ settings.banner_image2 | img_url: 'master' }}" alt="">
        </div>
      </div>
      <div class="col-12 col-md-7" data-aos="fade-right">
        <div class="thelastminutegifts-right-content">
          {{ settings.banner_heading2 }}
          <a class="btn btn-gradient" href="{{ settings.button_link2 }}"
            >Shop Now <i class="fa-solid fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="new-product-wrapper">
  {% assign new_products = 'new-products' %}
  {% for collection in collections %}
    {% if collection.handle == new_products %}
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 mb-4" data-aos="fade-down">
            <div class="comon-title">
              <h3>{{ collection.title }}</h3>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 text-end">
            <div class="btn-wrap">
              <button class="newprd-prev-btn slick-arrow"><i class="fa-solid fa-chevron-left"></i></button>
              <button class="newprd-next-btn slick-arrow"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 pe-0 mb-5">
            <div class="new-product-slider" id="new-product-slider">
              {% for product in collection.products %}
                <div class="featured-sld-items">
                  <div class="product-wrap">
                    <div class="prd-img">
                      <div class="offer-tag">-20% Off</div>
                      <a href="{{ product.url }}">
                        {% comment %} <img class="img-fluid" src="images/product-img1.jpg" alt=""> {% endcomment %}
                        <img class="img-fluid" src="{{ product.featured_image | img_url: 'master' }}" alt="">
                      </a>
                      <div class="product-cart-wishlist">
                        <ul>
                          <li>
                            <a href="#">
                              <i class="fa-regular fa-heart"></i>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" id="add_icon2">
                              <i class="fa-solid fa-cart-arrow-down"></i>
                            </a>
                            <form action="/cart/add" method="post" enctype="multipart/form-data">
                              <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                              <input type="submit" id="add_button2" value="Add to Cart" style="display:none;">
                            </form>
                          </li>
                          <li>
                            <a href="{{ product.url }}">
                              <i class="fa-regular fa-eye"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="product-content">
                      <a href="{{ product.url }}">
                        <h3>{{ product.title }}</h3>
                      </a>
                      <div class="qty">( {{ product.variants.first.inventory_quantity }}pcs )</div>
                      <div class="price">
                        {{ product.price | money }}
                        {% if product.compare_at_price != '' %}
                          <del>{{ product.compare_at_price | money }}</del>
                        {% endif %}
                      </div>
                      <div class="rating-wrap">
                        {% comment %} <img class="img-fluid" src="images/rating-img.png" alt=""> {% endcomment %}
                        <img class="img-fluid" src="{{ 'rating-img.png' | asset_url }}" alt="">
                        <span>( 5.2 K Reviews )</span>
                      </div>
                      <form action="/cart/add" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                        <div class="shop-btn-wrap">
                          <input class="btn shop-btn" type="submit" value="Buy Now!">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mb-4 birthday-gifts-add" data-aos="zoom-in">
        <div class="gifts-add-list">
          <div class="img">
            {% comment %} <img class="img-fluid" src="images/gifts-add-img3.jpg" alt=""> {% endcomment %}
            <img class="img-fluid" src="{{ settings.custom_collection3_img | img_url: 'master' }}" alt="">
          </div>
          <div class="gifts-add-content">
            <h3>
              {{ settings.custom_collection3.title }}
            </h3>
            <a class="btn btn-gradient" href="{{ settings.custom_collection3.url }}"
              >Shop Now <i class="fa-solid fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-4" data-aos="zoom-in">
        <div class="gifts-add-list">
          <div class="img">
            {% comment %} <img class="img-fluid" src="images/gifts-add-img4.jpg" alt=""> {% endcomment %}
            <img class="img-fluid" src="{{ settings.custom_collection4_img | img_url: 'master' }}" alt="">
          </div>
          <div class="gifts-add-content">
            <h3>
              {{ settings.custom_collection4.title }}
            </h3>
            <a class="btn btn-info" href="{{ settings.custom_collection4.url }}"
              >Shop Now <i class="fa-solid fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="newsletter-instagram-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 mb-4">
        <div class="newsletter-wrap">
          <div class="title mb-4" data-aos="fade-down">
            {{ settings.newsletter }}
          </div>
          {% form 'customer', class: 'newsletter-form' %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="newsletter-frm">
              <div class="input-text">
                <input
                  class="form-control"
                  type="text"
                  value="{{ form.email }}"
                  name="contact[email]"
                  placeholder="Your email address"
                  required
                >
              </div>
              <div class="submit">
                <input class="btn btn-gradient" type="submit" name="commit" value="Subscribe">
              </div>
              {%- if form.errors -%}
                <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                  {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </small>
              {%- endif -%}
            </div>
            {%- if form.posted_successfully? -%}
              <h3
                class="newsletter-form__message newsletter-form__message--success form__message"
                id="Newsletter-success--{{ section.id }}"
                tabindex="-1"
                autofocus
              >
                {% render 'icon-success' -%}
                {{- 'newsletter.success' | t }}
              </h3>
            {%- endif -%}
          {% endform %}
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <div class="instagram-feed-wrap">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                {% comment %} <img class="img-fluid" src="images/instagram-feed-img1.jpg" alt=""> {% endcomment %}
                <img class="img-fluid" src="{{ 'instagram-feed-img1.jpg' | asset_url }}" alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                {% comment %} <img class="img-fluid" src="images/instagram-feed-img2.jpg" alt=""> {% endcomment %}
                <img class="img-fluid" src="{{ 'instagram-feed-img2.jpg' | asset_url }}" alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                {% comment %} <img class="img-fluid" src="images/instagram-feed-img3.jpg" alt=""> {% endcomment %}
                <img class="img-fluid" src="{{ 'instagram-feed-img3.jpg' | asset_url }}" alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                {% comment %} <img class="img-fluid" src="images/instagram-feed-img4.jpg" alt=""> {% endcomment %}
                <img class="img-fluid" src="{{ 'instagram-feed-img4.jpg' | asset_url }}" alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                {% comment %} <img class="img-fluid" src="images/instagram-feed-img5.jpg" alt=""> {% endcomment %}
                <img class="img-fluid" src="{{ 'instagram-feed-img5.jpg' | asset_url }}" alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                {% comment %} <img class="img-fluid" src="images/instagram-feed-img6.jpg" alt=""> {% endcomment %}
                <img class="img-fluid" src="{{ 'instagram-feed-img6.jpg' | asset_url }}" alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                {% comment %} <img class="img-fluid" src="images/instagram-feed-img7.jpg" alt=""> {% endcomment %}
                <img class="img-fluid" src="{{ 'instagram-feed-img7.jpg' | asset_url }}" alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
